.api-link {
  text-align: center;
  color: #F7F5E6;
}

.coin-page-add-remove-button-div {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

.coin-page-chart-div {
  flex: 3;
  flex-grow: 3;
}

.coin-page-details-div {
  flex: 2;
  flex-grow: 2;
}

.coin-page-display-flex-box {
  padding-top: 50px;
  display: flex;
}

.display {
  background-color: #E8E8E8;
  color: #52658F;
  height: 600px;
}

.footer {
  background-color: #52658F;
  color: #F7F5E6;
  height: 300px;
}

.footer-icon {
  color: #F7F5E6;
}

.footer-icon-container {
  flex: 1;
  text-align: center;
  min-width: 200px;
}

.footer-icons-container {
  align-items: center;
  display: flex;
  height: 250px;
}

.header {
  align-items: center;
  background-color: #F7F5E6;
  color: #333A56;
  display: flex;
  height: 150px;
}

.header-link {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
}

.header-logo {
  float: right;
  height: 125px;
  width: 125px;
}

.header-logo-container {
    flex: 2;
}

.header-paw-print-container {
  background-size: contain;
  background-repeat: repeat-x;
  background-position: left;
  flex: 3;
  height: 100px;
}

.header-text {
  flex: 3;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
}

.landing-page-display-flex-box {

}

.navbar {
  background-color: #333A56;
  color: #F7F5E6;
  height: 80px;
  min-width: 600px;
}

.navbar-button {
  background-color: #F7F5E6;
  border-color: rgb(211, 209, 197);
  color: #333A56;
  flex: 1;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
}

.navbar-button-container {
  display: flex;
  float: right;
  min-width: 500px;
}

.navbar-menu-container {
  float: left;
}

.navbar-menu {
  background-color: #E8E8E8;
  color: #52658F;
}

.navbar-username {
  flex: 1;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 28px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
}
