.login-button {
  background-color: #333A56;
  color: #F7F5E6;
  height: 50px;
  width: 300px;
}

.login-label {
  color: #52658F;
  font-size: 32px;
  height: 50px;
  padding-right: 40px;
  width: 150px;
}

.login-field {
  background-color: #F7F5E6;
  border-color: #333A56;
  color: #333A56;
  font-size: 32px;
  height: 50px;
  width: 300px;
}
