.add-remove-coin-button {
  background-color: #333A56;
  color: #F7F5E6;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 24px;
  height: 70px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
}

.coin-details {
  background-color: #F7F5E6;
  border-style: solid;
  border-width: 1px;
  border-color: #52658F;
  color: #52658F;
  margin-left: 50px;
  margin-right: 50px;
  min-width: 500px;
}

.coin-details-data-list {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  width: 80%;
}

.coin-details-data-list-col1 {
  width: 60%;
}

.coin-details-data-list-col2 {
  width: 40%
}

.coin-details-header-text {
  font-family: Verdana, Geneva, sans-serif;
  width: 80%;
}

.coin-details-header {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: flex;
}

.coin-details-header-text {
  flex: 5;
  padding-left: 20px;
  padding-top: 30px;
}

.coin-details-logo {
  flex: 1;
  padding: 20px;
}

.coin-logo {
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}

.coin-sel-button {
  background-color: #52658F;
  color: #F7F5E6;
  display: block;
  font-family: "Arial Black", Gadget, sans-serif;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 500px;
}

.coin-sel-button-left {
  flex: 1;
  text-align: left;
}

.coin-sel-button-right {
  flex: 1;
  text-align: right;
}

.coin-sel-button-text {
    display: flex;
    font-family: "Arial Black", Gadget, sans-serif;
}

.coin-sel-container {
  background-color: #F7F5E6;
  border-style: solid;
  border-width: 1px;
  border-color: #52658F;
  color: #52658F;
  height: 400px;
  margin-left: 50px;
  margin-right: 50px;
  min-width: 500px;
  overflow: auto;
}

.coin-sel-header {
  font-family: Verdana, Geneva, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.chart-terminal {
  margin-left: 50px;
  margin-right: 50px;
}

.chart-terminal-button {
  background-color: #52658F;
  color: #F7F5E6;
  flex: 1;
  font-family: "Arial Black", Gadget, sans-serif;
  margin: 5px;
}

.chart-terminal-button-container {
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: auto;
  margin-right:auto;
  width: 70%;
}

.chart-terminal-chart-container{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

.login {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  width: 500px;
}

.message {
  text-align: center;
}

.mcg-chart-container {
  flex: 3;
}

.mcg-coin-sel-container {
  flex: 2;
}

.mcg-container {
  align-items: center;
  display: flex;
  height: 500px;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  background-color: #F7F5E6;
  color: #333A56;
  width: 400px;
  height: 50px;
  padding: 10px 20px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 300;
  font-size: 18px;
  border: 1px solid #333A56;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #333A56;
  background-color: #F7F5E6;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.search-bar-box {
  width: 100%;
}

.search-bar-box-container {
  flex: 3;
}

.search-bar-button {
  background-color: #52658F;
  color: #F7F5E6;
  flex: 1;
  font-family: "Arial Black", Gadget, sans-serif;
  height: 50px;
  margin: 5px;
  width: 150px;
}

.search-bar-container {
  align-content: space-between;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 600px;
}

.user-form-button {
  background-color: #333A56;
  color: #F7F5E6;
  font-size: 24px;
  font-family: "Arial Black", Gadget, sans-serif;
  height: 50px;
  margin: auto;
  width: 300px;
}

.user-form-label {
  color: #52658F;
  font-size: 32px;
  height: 50px;
  padding-right: 40px;
  width: 150px;
}

.user-form-field {
  background-color: #F7F5E6;
  border-color: #333A56;
  color: #333A56;
  font-size: 32px;
  height: 50px;
  width: 300px;
}

.user-form {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  justify-content: space-around;
  margin: auto;
}
